@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #2563EB;
  --color-safety-green: #22C55E;
  --color-safety-red: #EF4444;
  --color-slate-dark: #1E293B;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
